@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v6/APH4jr0uSos5wiut5cpjrugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/**
 * RESET
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

header, nav, section, article, aside, footer, hgroup, time {
    display: block;
}

* {
    line-height: 24px;
    outline: none;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

b {
    font-weight: bold;
}

br {
    line-height: normal;
}

a {
    outline: none !important;
    color: black;
    text-decoration: none;
}

a img {
    border: none;
}

a:hover {
    /*text-decoration: underline;*/
}

p + p {
    margin-top: 20px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f1f1f1;
    color: black;
}

#scrim {
    display: none
}

#scrim.js-show {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 700
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 20px;
    /*font-weight: 700;*/
    letter-spacing: 0;
}

h1 {
    font-size: 24px;
    line-height: 30px;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
}

header nav li, ul.nav li {
    list-style: none;
}

.invisible {
    visibility: hidden !important;
}

.hidden {
    display: none !important;
}

.center {
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.no-border {
    border: none !important;
}

.relative {
    position: relative;
}

.align-right {
    text-align: right;
}

.clear {
    clear: both;
}

.mobile-only {
    display: none !important
}

.full-width {
    width: 100%;
}

.full-width.header {
    position: relative;
    z-index: 999;
    border-top: 4px solid #34302d;
    background-color: #34302d;
}

.wrap:not(.out-wrapper) {
    position: relative;
    max-width: 1064px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.logo {
    display: inline-block;
    width: 192px;
    height: 41px;
    margin: 15px 0 6px;
}

.logo a {
    display: block;
    width: 192px;
    height: 41px;
    background: url(../img/logo-nemesis.png) 0 -56px no-repeat;
}

.logo a:hover {
    background: url(../img/logo-nemesis.png) 0 0 no-repeat;
}

header nav {
    float: right;
}

header nav:after {
    clear: both
}

header nav li {
    float: left;
    line-height: 20px;
}

header nav li a {
    display: block;
    color: #eee;
    padding: 28px 20px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    transition: all .15s;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
}

header nav li:not(.nav-search) a:hover,
header nav li a.active {
    color: #eee;
    background-color: #008ECA;
}

header nav li.nav-search {
    width: 55px;
}

header nav li.nav-search a {
    display: block;
    color: #eee;
    padding: 0;
    text-align: center;
}

header nav li.nav-search a:before {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f002";
    font-size: 24px;
    line-height: 70px;
}

header nav li.nav-search.js-highlight a:before {
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    font-size: 12px;
    content: 'x';
}

header nav li.nav-search a:hover {
    text-shadow: 0 0 10px #008ECA;
}

header nav li.nav-search .search-input-close {
    display: none;
}

header nav li.nav-search.js-highlight {
    background-color: #008ECA;
}

header nav li.nav-search.js-highlight .navbar-search--icon {
    display: none;
}

header nav li.nav-search.js-highlight .search-input-close {
    display: inline-block;
    color: #eee;
    padding: 4px 24px 3px;
    cursor: pointer;
}

header .search {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 998;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #ddd;
    transition: margin .25s;
    -webkit-transition: margin .25s;
    -moz-transition: margin .25s;
    -o-transition: margin .25s;
    -ms-transition: margin .25s
}

header .search.no-animation {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none
}

header .search input[type="text"] {
    background: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
    color: #34302D;
    font-size: 21px;
    line-height: 29px;
    height: 80px;
    width: 100%;
}

header .search input[type="text"]::-webkit-input-placeholder {
    font-style: italic
}

header .search input[type="text"]:-moz-placeholder {
    font-style: italic
}

header .search input[type="text"]::-moz-placeholder {
    font-style: italic
}

header .search input[type="text"]:-ms-input-placeholder {
    font-style: italic
}

header .search button[type="submit"] {
    float: right;
    border: 0;
    padding: 28px 16px 24px 0;
    font-size: 22px;
    color: #34302d;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

header .search.js-show {
    display: block;
}

.clearable {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 100% !important;
    margin-left: 0 !important;
}

header .search .clearable {
    width: 93%;
}

.clearable input[type="text"] {
    padding-right: 26px;
    padding-right: 0 \0/ IE89;
}

.clearable .erase {
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../img/icon-clear.png) center center no-repeat;
}

.row-fluid {
    width: 100%;
    *zoom: 1
}

.row-fluid:after,
.row-fluid:before {
    display: table;
    line-height: 0;
    content: ""
}

.row-fluid:after {
    clear: both
}

.row-fluid [class*=span] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row-fluid [class*=span]:first-child {
    margin-left: 0
}

.row-fluid .controls-row [class*=span] + [class*=span] {
    margin-left: 2.127659574468085%
}

.row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%
}

.row-fluid .span11 {
    width: 91.48936170212765%;
    *width: 91.43617021276594%
}

.row-fluid .span10 {
    width: 82.97872340425532%;
    *width: 82.92553191489361%
}

.row-fluid .span9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%
}

.row-fluid .span8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%
}

.row-fluid .span7 {
    width: 57.44680851063829%;
    *width: 57.39361702127659%
}

.row-fluid .span6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%
}

.row-fluid .span5 {
    width: 40.42553191489362%;
    *width: 40.37234042553192%
}

.row-fluid .span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%
}

.row-fluid .span3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%
}

.row-fluid .span2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%
}

.row-fluid .span1 {
    width: 6.382978723404255%;
    *width: 6.329787234042553%
}

.row-fluid .offset1:first-child {
    margin-left: 8.51063829787234%;
    *margin-left: 8.404255319148938%
}

.row-fluid [class*=span].hide,
[class*=span].hide {
    display: none
}

.row-fluid [class*=span].pull-right,
[class*=span].pull-right {
    float: right
}

.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
}

.btn.active,
.btn.disabled,
.btn:active,
.btn:focus,
.btn:hover,
.btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9
}

.btn.active,
.btn:active {
    background-color: #ccc \9
}

.btn:first-child {
    *margin-left: 0
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.btn-large [class*=" icon-"],
.btn-large [class^=icon-] {
    margin-top: 4px
}

.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.btn-small [class*=" icon-"],
.btn-small [class^=icon-] {
    margin-top: 0
}

.btn-mini [class*=" icon-"],
.btn-mini [class^=icon-] {
    margin-top: -1px
}

.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.questions-header-container {
    background-color: #808080;
}

.questions-header-container h1,
.questions-header-container p {
    font-size: 3em;
    line-height: 1.4;
    font-family: "Varela Round", sans-serif;
    color: #FFF;
    margin-top: .25em;
    margin-bottom: .2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.questions-header-container p {
    font-size: 1em;
}

.questions-header-container .row-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}

.askquestion {
    margin: 10%
}

header .search .clearable .erase {
    top: 30px;
}

header .clear {
    display: none;
}

header .clear:last-child {
    display: block;
}

footer {
    float: left;
    width: 100%;
    padding: 20px 0 0 0;
    color: white;
    background-color: #34302d;
}

footer .ad {
    float: left;
    width: 100%;
    padding: 20px 0 0 0;
}

footer .banner {
    width: 340px;
    float: left;
}

footer .banner label {
    display: none;
}

footer .banner .mc-field-group {
    float: left;
}

footer .banner .clear {
    clear: none;
    float: left;
}

footer .banner input[type="text"],
footer .banner input[type="email"] {
    display: table-cell;
    vertical-align: middle;
    width: 203px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #666666;
    background: white;
    border: 1px solid #e4e4e4;
}

footer .banner input[type="submit"] {
    display: table-cell;
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    color: white;
    font-size: 12px;
    background: #008ECA;
    border: none;
}

footer ul {
    list-style-type: none;
}

footer .more {
    float: left;
}

footer .more div {
    float: left;
    width: 150px;
}

footer div + div {
    margin-left: 5px;
}

footer div p {
    font-size: 12px;
    line-height: normal;
    margin: 10px 0 15px 0;
}

footer div h2 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

footer .more div li,
footer .more div a {
    font-size: 12px;
    line-height: normal;
    color: white;
}

footer .more div a:hover {
    text-decoration: underline;
}

footer .more div li + li {
    margin-top: 5px;
}

footer .terms {
    height: 80px;
    line-height: 80px;
}

footer .terms * {
    font-size: 13px;
    line-height: inherit;
}

footer .terms a {
    color: #008ECA;
}

@media (max-width: 1000px) {
    footer .more {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 800px) {
    body,
    html {
        height: 100%
    }

    .viewport {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch
    }

    .viewport.constrained {
        overflow: hidden;
        min-height: 279px
    }

    .desktop-only {
        display: none !important
    }

    .mobile-only {
        display: block !important;
    }

    .mobile-navigation--wrapper .navigation-drawer--container {
        position: absolute;
        top: 0;
        width: 270px;
        bottom: 0;
        left: 0;
        background-color: #34302d;
        z-index: 999;
        min-height: 390px;
        box-shadow: inset -1px 0 2px rgba(0, 0, 0, .3);
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transition: all .25s;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }

    .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container {
        margin: 9px;
        padding: 5px;
        background-color: #464340;
        position: relative
    }

    .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .form-search {
        margin: 0
    }

    .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container input {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        margin: 0;
        border-radius: 0;
        width: 90%;
        padding: 0 10% 0 0;
        color: #f1f1f1
    }

    .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .search-form--submit {
        position: absolute;
        right: 0;
        background-color: transparent;
        border: 0;
        color: #9d9b99;
        padding: 0 2%
    }

    .mobile-navigation--wrapper .navigation-drawer--container .mobile-search--container .search-form--submit .icon-search {
        font-size: 15px
    }

    .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link a {
        border-bottom: 1px solid #474441;
        color: #f1f1f1;
        display: block;
        padding: 15px;
        text-decoration: none;
        font-size: 15px;
        line-height: 15px
    }

    .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link a [class^=icon-] {
        color: #9d9b99
    }

    .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link:first-child a {
        border-top: 1px solid #474441
    }

    .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link.active {
        margin-top: -1px
    }

    .mobile-navigation--wrapper .navigation-drawer--container .navigation-item-list .navbar-link a.active {
        border-bottom: 1px solid transparent;
        background-color: #262321
    }

    .mobile-navigation--wrapper .navigation-drawer--container.js-open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0)
    }

    .mobile-navigation--wrapper .mobile-nav {
        background-color: #34302d;
        height: 50px;
        text-align: center;
        border-left: 1px solid #34302d;
        position: relative;
        transition: all .25s;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }

    .mobile-navigation--wrapper .mobile-nav .nav-icon {
        position: absolute;
        padding: 13px
    }

    .mobile-navigation--wrapper .mobile-nav .nav-icon [class^=icon-] {
        color: #f1f1f1;
        font-size: 21px
    }

    .mobile-navigation--wrapper .mobile-nav .header-center-icon {
        display: inline-block;
        padding: 9px 0 0
    }

    .mobile-navigation--wrapper .mobile-nav .logo {
        margin: 0;
        width: 150px;
        height: 32px;
    }

    .mobile-navigation--wrapper .mobile-nav .logo a {
        width: 150px;
        height: 32px;
        background-size: 150px 73px;
        background-position: 0 0;
    }

    .mobile-navigation--wrapper .mobile-nav.js-slide-right {
        transform: translateX(270px);
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px)
    }

    .askquestion {
        margin: 20px 0 0 0;
    }

    footer {
        transition: all .25s;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
    }

    footer.js-slide-right {
        transform: translateX(270px);
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px);
    }

    #scrim.js-open-mobile-nav {
        z-index: 999;
        transform: translateX(270px);
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px)
    }
}

@media (max-width: 600px) {
    footer div {
        width: 100% !important;
        text-align: center;
    }

    footer .more div {
        margin: 15px 0 !important;
    }

    footer .banner form {
        margin: 0 auto;
    }
}
